<!DOCTYPE html><html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}
                My Website
            {% endblock %} 
            {#for default website name#}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <header>Welcome to my flask app</header>

        <main>
            {%block content%}
            {%endblock%}
        </main>

        <footer>
            <p>&copy; 2025 website</p>
        </footer>
    </body>
</html>